/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/1586513343.jpg
public/thumbnail/1586513343.jpg
tests/Feature/UserTest.php
backup code/leads_view.txt
