.form-inline{
    display:inline;
}
table{
    width:100%!important;
}

@media only screen and (min-width: 10px){
    .form-inline label{
        display:inline;
    }
}
.required{
    color:red;
}
.roles-cell .badge{
    margin-right:3px;
}

/*Jan. 04, 2020*/
.btn-xs{
    margin-left:2px;
}

.role-badge{
    margin:1px;
}
.invalid-feedback{
    display:block;
}
.create-schedule{
    margin: 5px;
}
.note-editable{
    min-height:200px;
}
.details{
    background:#eaecee;
    padding:10px;
}
.bootstrap-timepicker-widget table td a{
    background:#d5d7d8;
    border-radius:2px;
}

/*spinner*/
.spinner{
    display:none;
}
body{
    font-size:13px;
}
table td{
    padding:8px!important;
}
.image-loader{
    margin:auto;
    width: 10%;
    display:none;
}
.sales-details{
    display:none;
}
.dataTables_wrapper{
    overflow-x:auto;
}
.requirements-image{
    margin:10px;
}
.pending{

}
.approved
{
    background-color:#e6fee7;
}
.rejected
{
    background-color:#ffd4d4;
}
.user-header p small{
    font-size:16px!important;
}

/*.lead-details-table{*/
/*    table-layout:fixed!important;*/
/*}*/
.lead-details-table td{
    word-wrap: break-word;
}
#canned-message p{
    margin-bottom:0px;
}
.sample-computation-form{
    margin-bottom:20px;
}

.contest-card{
    max-width: 1080px;
}
.winner, .contest-completed{
    background-color: #e0fdba!important;
}
